<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xrdev.musicast"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        android:name="ApplicationState" >


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.YoutubeResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name=".activity.SpotifyAuthActivity"
            android:label="@string/title_activity_spotify_login"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="musicast" />
            </intent-filter>
        </activity>

        <service
            android:name=".connection.SpotifyService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <activity
            android:name=".activity.PlaylistsActivity"
            android:label="@string/title_activity_spotify_playlists"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.BinderActivityTest"
            android:label="@string/title_activity_binder_activity_test" >
        </activity>
        <activity
            android:name=".activity.TracksActivity"
            android:label="@string/title_activity_tracks"
            android:screenOrientation="portrait">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
